body {
    background: #000;
    color: #00ff00;
    font-family: 'Fira Mono', 'Consolas', 'Monaco', monospace;
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.terminal {
    width: 100vw;
    height: 100vh;
    padding: 16px;
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

h1,
p,
a,
code {
    color: #00ff00;
    font-family: inherit;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 0.5em;
}

a img {
    vertical-align: middle;
    margin-left: 8px;
}

.cursor {
    display: inline-block;
    width: 10px;
    background: #00ff00;
    animation: blink 1s steps(1) infinite;
    margin-left: 2px;
    height: 1em;
    vertical-align: middle;
}

@keyframes blink {
    0%,
    50% {
        opacity: 1;
    }
    51%,
    100% {
        opacity: 0;
    }
}
